/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #2F303A */
/* Цвет акцента #2196F3 */
/* Цвет лого 1 #2196F3 */
/* Цвет лого 2 #000000 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* можно убрать точки у li c class="list"*/
.list {
  list-style: none;
}
/* можно убрать точки у всех li */
/* ul {
  list-style: none;
} */

.button {
  list-style: none;
}

button {
  font-family: inherit;
}

/* убрал нижнее подчеркивание у всех ссылок */
a {
  text-decoration: none;
}

/* Header */
.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent-color);
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mail {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Hero */

.hero .hero-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Button */
/* .button {
  color: var(--accent-color);
} */

.button.primary {
  color: #e5e5e5;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus 

/* Features */
.title {
  color: var(--title-text-color);
}

.features .title,
.worklist .title {
  color: var(--title-text-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.section-team {
  background-color: #f5f4fa;
}
.team .team-name {
  color: var(--title-text-color);
}

/* Footer*/
.footer {
  background-color: #2f303a;
}

.adress {
  color: rgba(255, 255, 255, 1);
}

.auth-nav {
  color: rgba(255, 255, 255, 9);
}

.logo-footer {
  color: var(--primary-bg-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Страница портфолио */

.list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.worklist {
  color: var(--title-text-color);
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button .filter:hover,
.button .filter:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
